.item {
    position: relative;

    :global {
        @mixin line {
            position: absolute;
            left: 1rem;
            width: 2px;
            background-color: #bfbfbf;
        }

        .start-line {
            @include line();
            top: 1rem;
            height: calc(100% - 1rem);
        }

        .normal-line {
            @include line();
            height: 100%;
        }

        .content-box {
            display: flex;
            padding: 1rem 0;
        }

        .icon {
            z-index: 1;
        }

        .right {
            padding-left: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

        .default-icon {
            box-sizing: border-box;
            width: 2rem;
            height: 2rem;
            background-color: #3f3f3f;
            border: 2px solid #fff;
            border-radius: 2rem;
        }

        .title {
            font-size: 1.5rem;
            line-height: 2rem;
            font-weight: bold;
        }

        .main-content {
            margin-top: 1rem;
        }
    }
}

.endItem {
    position: relative;
    top: -0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    :global {
        .end-line {
            display: flex;
            width: 100%;
        }

        .end-left {
            margin-left: 1rem;
            width: 1rem;
            height: 1rem;
            border: #bfbfbf solid;
            border-width: 0 0 2px 2px;
            border-bottom-left-radius: 0.5rem;
        }

        .end-right {
            margin-top: 1rem;
            width: calc(50% - 36px);
            height: 1rem;
            border: #bfbfbf solid;
            border-width: 2px 2px 0 0;
            border-top-right-radius: 0.5rem;
        }

        .ending-logo {
            height: 2rem;
            line-height: 2rem;
            font-size: 1rem;
            background-color: #3f3f3f;
            padding: 0 1rem;
            border: 2px solid #fff;
            border-radius: 2rem;
        }
    }
}