div
{
    margin : 0 ;
    padding : 0 ;
}
body
{
    font-family : "苹方" , "微软雅黑" ;
    font-size : 16px ;
    color : #000B ;
    margin : 0;
    padding : 0 ;
}
h2
{
    font-size : 32px ;
}
h3
{
    font-size : 28px ;
}
h4
{
    font-size : 24px ;
}
h5
{
    font-size : 20px ;
}
select
{
    font-size : 16px ;
    background-color : #ddd ;
    padding : 8px 16px  ;
    margin : 16px ;
    border : 0 solid #0007 ;
    border-radius : 128px ;
    text-align : center ;
    /* line-height : 1em ; */
}
#setMeal
{
    font-size : 32px ;
    height : 64px ;
    /* width : 256px ; */
    /* text-align : center ; */
    /* padding : 32px ; */
}
input
{
    font-size : 16px ;
    background-color : #DDD ;
    padding : 8px 16px  ;
    margin : 16px ;
    border : 0 solid #0007 ;
    border-radius : 128px ;
    text-align : center ;
}
#email
{
    width : 256px ;
}
th
{
    text-align : left ;
    margin-right : 64px ;
}
a
{
    color : #000B ;
}
a:hover
{
    color : #000 ;
}
.addTourist
{
    float : right ;
    margin-top : 40px ;
    text-decoration : none ;
}
.banner
{
    background : url(src/bg.png) ;
    background-position : 50% 75% ;
    background-repeat : no-repeat ;
    background-attachment : scroll ;
    width : 100% ;
    height : 256px ;
}
.bannerTextDiv
{
    position : absolute ;
    width : 1024px ;
    margin : 64px 256px ;
}
.main
{
    width : 1024px ;
    margin : 128px auto ;
}
.title
{
    font-size : 64px ;
    color : #fff ;
    text-shadow: 0 0 32px #000 ;
}
.price
{
    display : block ;
    float : right ;
    color : #f70 ;
    padding : 16px ;
    margin : 32px ;
}
.bigCard
{
    margin : 32px ;
    padding : 32px 64px ;
    border-radius : 8px ;
    box-shadow : 0 2px 8px #0003 ;
}
#submit
{
    float : right ;
    font-size : 28px ;
    background-color : #f70 ;
    color : #fff ;
    height : 72px ;
    padding : 16px 48px ;
    border : 0 solid #000 ;
    margin : 32px ;
}
.submitDiv
{
    text-align : center ;
}
