
.fetchingLoad {
	display: inline-block;
  box-sizing: border-box;
  color: #333;
  font-size: 18px;
  padding: 20px;
  position: relative;
  vertical-align: middle;
}

.fetchingFixedTop {
  display: block;
  top: 180px;
  box-sizing: border-box;
  color: #333;
  font-size: 18px;
  padding: 20px;
  position: relative;
}
