body {
    background: blue;
}

@font-face {
    font-family: 'MyFont';
    src: url('../fonts/thin.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

.hello {
    color: red;
    font-family: 'MyFont';
    background: url('../img/HA.png');
}