body {
    font-size: 16px;
    color: #7f7f7f;
    line-height: 5em;
}

h1 {
    margin: 32px 64px;
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

.out {
    width: 1440px;
    margin: 64px auto;
    vertical-align: center;
}

.card {
    float: left;
    width: 256px;
    margin: 32px 64px;
    padding: 64px 168px;
    border-radius: 8px;
    box-shadow: 0 16px 64px #dfdfdf;
}

input {
    text-align: center;
    margin: 4px 0;
    padding: 16px 32px;
    border-width: 0;
    border-radius: 64px;
    background-color: #dfdfdf;
}

input[type="text"] {
    margin-left: 16px;
    width: 64px;
}

input[type="submit"] {
    width: 96px;
}